<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Anta' rel='stylesheet'>
    <title>Tega Gig's | E-commerce Agency</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Anta';
            background-color: #ebebeba0;
            padding: 2px;
        }
        main{
            margin-top: 60px;
        }
    </style>
</head>
<body>
    <%- include('partials/navBar') %>
    <main>
        <%- include('ABD/main2') %>

        <%- include('ABD/about') %>

        <div>
            <h1 style="text-align: center; margin: 20px;">Our Popular Package's</h1>
            <%- include('ABD/gigs', { gigs: gigs }) %>
        </div>
        <div>
            <%- include('ABD/portfolio') %>
        </div>
        <div>
            <h2 style="text-align: center; margin: 20px;">Our Blog's</h2>
            <%- include('ABD/blog') %> 
        </div>
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
    
</body>
</html>
